<aside class="h-100 ">
  <div>
    <ul class=" fw-semibold">
      <li (click)="active(1)" class="sidebar-item rounded-pill rounded-end p-2 pe-4"
        [ngClass]="{'active': link1 ? true : false}" routerLink="employees">
        <a class="d-flex flex-column align-items-center justify-content-center bg-secondary-transparent">
          <span class="bi bi-people fs-5"></span>
          <span class="fs-7">Personal</span>
        </a>
      </li>
      <li (click)="active(2)" class="sidebar-item rounded-pill rounded-end p-2 pe-4 mt-2"
        [ngClass]="{'active': link2 ? true : false}" routerLink="whosaway">
        <a class="d-flex flex-column align-items-center justify-content-center bg-secondary-transparent">
          <span class="bi bi-compass fs-5"></span>
          <span class="fs-7">Who's away</span>
        </a>
      </li>
      <li (click)="active(3)" class="sidebar-item rounded-pill rounded-end p-2 pe-4 mt-2 "
        [ngClass]="{'active': link3 ? true : false}" routerLink="news">
        <a class="d-flex flex-column align-items-center justify-content-center bg-secondary-transparent ">
          <span class="bi bi-newspaper fs-5"></span>
          <span class="fs-7">News</span>
        </a>
      </li>
      <li (click)="active(4)" class="sidebar-item rounded-pill rounded-end p-2 pe-4 mt-2"
        [ngClass]="{'active': link4 ? true : false}" routerLink="events">
        <a class="d-flex flex-column align-items-center justify-content-center bg-secondary-transparent">
          <span class="bi bi-calendar4-event fs-5"></span>
          <span class="fs-7">Events</span>
        </a>
      </li>
      <li (click)="active(5)" class="sidebar-item rounded-pill rounded-end p-2 pe-4 mt-2"
        [ngClass]="{'active': link5 ? true : false}" routerLink="settings">
        <a class="d-flex flex-column align-items-center justify-content-center bg-secondary-transparent">
          <span class="bi bi-gear fs-5"></span>
          <span class="fs-7">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
