// Theme Primary Color

$primary: #15074e;
$body-bg: #f1f1f8;
$link: rgb(65, 65, 255);
$danger: rgba(253, 53, 53, 0.973);
// Mainly use for UI controls like Buttons
$secondary: #8675eb;

//
$success: rgb(4, 153, 4);
// Used for Footer Section
$white: #ffffff;

// Mainly use for Normal Text color
$gray: #989d9e;

// Additional Shades of gray color
$light: #f8fafc;
$extra-light: #fcfcfc;

// link bg opacity
$bg-secondary-transparent: rgba($secondary, 0.2);
$transparent: rgba($secondary, 0.2);

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "light": $light,
  "white": $white,
  "success": $success,
  "link": $link,
  "transparent": $transparent,
  "danger": $danger,
);
