// Theme Primary Color

$primary: #15074e;
$body-bg: #f9fafe;
// Mainly use for UI controls like Buttons
$secondary: #8675eb;

//
$success: rgb(4, 153, 4);
// Used for Footer Section
$white: #f9f9fc;

// Mainly use for Normal Text color
$gray: #989d9e;

// Additional Shades of gray color
$light: #f8fafc;
$extra-light: #fcfcfc;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "light": $light,
  "white": $white,
  "success": $success,
);
