// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  // background-color: $body-bg;
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  color: $light;
}
.body-bg {
  background-color: $body-bg;
}
// helper classes
.primary-radius {
  border-radius: $primary-radius;
}
.bg-secondary-transparent {
  background-color: $bg-secondary-transparent;
}
.overlay-panel {
  padding: 10px;
}
// .overlay-backdrop {
//   background-color: rgba(0, 0, 0, 0.253);
// }
