// Button styles goes here
// utilities
.action-btn {
  padding: 10px 30px;
  font-size: $h7-font-size;
  color: $white;
  border: none;
  &:hover {
    color: $white;
  }
  @include media-breakpoint-down(sm) {
    padding: 7px 10px;
  }
}
